<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/533cb7a2-d94c-4e40-9bde-87f9e79933e8/resourcegroups/EnergyProcurement/providers/Microsoft.Web/sites/GaiaMovement</ResourceId>
    <ResourceGroup>EnergyProcurement</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gaiamovement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gaiamovement.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GaiaMovement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GaiaMovement</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Gaia130618Entities1" Order="1" Enabled="False">
          <Destination Path="Data Source=gaiaserver.database.windows.net;Initial Catalog=gaia;Persist Security Info=True;User ID=mwkersley;Password=Punc4bag" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GaiaMovement.Models.Gaia130618Entities1, GaiaMovement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Gaia130618Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=gaiaserver.database.windows.net;Initial Catalog=gaia;Persist Security Info=True;User ID=mwkersley;Password=Punc4bag" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Gaia130618;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Gaia130618Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.GaiaModel.csdl|res://*/Models.GaiaModel.ssdl|res://*/Models.GaiaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=Gaia130618;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Gaia130618Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GaiaModel.csdl|res://*/Models.GaiaModel.ssdl|res://*/Models.GaiaModel.msl;provider=System.Data.SqlClient;provider connection string="data source=gaiaserver.database.windows.net;initial catalog=gaia;persist security info=True;user id=mwkersley;password=Punc4bag;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Gaia130618Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GaiaModel.csdl|res://*/Models.GaiaModel.ssdl|res://*/Models.GaiaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=gaiaserver.database.windows.net;Initial Catalog=gaia;Persist Security Info=True;User ID=mwkersley;Password=Punc4bag"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>